<!DOCTYPE html>
<html  lang="en"th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
    <h3 class="w3-bar-item">Menu</h3>
    <a th:href="@{/Management/Sliders}" class="w3-bar-item w3-button">Sliders</a>
    <a th:href="@{/Management/Projects}" class="w3-bar-item w3-button">Projects</a>
    <a th:href="@{/Management/Messages}" class="w3-bar-item w2-button">Messages</a>

</div>
<div style="margin-left:20%">
    <div class="w3-container w3-teal">
        <h1>Welcome </h1>
    </div>
    <div class="container">
        <table border="1"  style="width: 80%!important;" th:object="${list}" class="table table-bordered">
            <h1>Project</h1>
            <tr>
                <th>Project ID</th>
                <th>Image</th>
                <th>Project Name</th>
                <th>Project Client</th>
                <th>Project Technique</th>
                <th>Project Photographer</th>
                <th>Project Agency</th>
                <th>Delete</th>
            </tr>
            <tr  th:each="project,iter:${list}">
                <td th:text="${project.project_id}"></td>
                <td>null</td>
                <td th:text="${project.project_name}"></td>
                <td th:text="${project.project_client}"></td>
                <td th:text="${project.project_technique}"></td>
                <td th:text="${project.project_photographer}"></td>
                <td th:text="${project.project_agency}"></td>
                <td><a th:href="@{/Management/DeleteProject/(id=${project.getProject_id()})}" type="button" class="btn btn-danger" > Delete</a></td>
            </tr>
        </table>
        <a class="btn btn-success" onclick="myFunction()"> Add New Project</a>
        <a th:href="@{/Management/SaveProjects}" class="btn btn-danger">Save Projects</a>
        <div id="panel" style="display: none; margin-top: 10px">
            <form action="#" th:action="@{/Management/PostProject}" enctype="multipart/form-data" method="post">
                <table class="table table-bordered">
                    <tr>
                        <td>Project Name:</td>
                        <td><input type="text" placeholder="Name" name="project_name" required></td></td>
                    </tr>
                    <tr>
                        <td>Image:</td>
                        <td><input type="file" placeholder="Name" name="image" required></td></td>
                    </tr>
                    <tr>
                        <td>Project Client:</td>
                        <td><input type="text" placeholder="Name" name="project_client" required></td></td>
                    </tr>
                    <tr>
                        <td>Project Technique:</td>
                        <td><input type="text" placeholder="Name" name="project_technique" required></td></td>
                    </tr>
                    <tr>
                        <td>Project Photographer:</td>
                        <td><input type="text" placeholder="Name" name="project_photographer" required></td></td>
                    </tr>
                    <tr>
                        <td>Project Agency:</td>
                        <td><input type="text" placeholder="Name" name="project_agency" required></td></td>
                    </tr>
                </table>
                <button type="submit"  class="btn btn-success"> Add</button>
                <a class="btn btn-info" onclick="myFunction2()"> Back</a>
            </form>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        document.getElementById("panel").style.display = "block";
    }
    function myFunction2() {
        document.getElementById("panel").style.display="none";
    }
</script>

</body>
</html>

